<a href="https://colab.research.google.com/github/AshaJyothi03/0ct-30-2024/blob/main/Data_Science_Dec_2024_AM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#distance and time are the list data structures
distance=[15,10,20,30]
time=[.60,.50,.20,.40]
print(distance/time)
#NOTE: list ds allows only operations on individual objects or elements
#when u trying perform operations on all the elements at time. it does not support

In [ ]:
#create a numpy array to overcome drawbacks of list data structures
import numpy as np
distance=[15,10,20,30]
time=[.60,.50,.20,.40]
np_distance=np.array(distance)
print(np_distance)
np_time=np.array(time)
print(np_time)

In [ ]:
print(np_distance.ndim)
print(np_distance.shape)

In [ ]:
#to calculate speed=distance/time
speed=np_distance/np_time
print(speed)

# DATE: 12/12/2024
# NUMPY HANDSON PROGRAMS
    LIST TO ARRAYS
    ARRAY INDEXING
    ARRAY SLICING
    ARRAY RESHAPING

In [ ]:
#CREATE 1 DIM ARRAY
data=[100,200,300,400] #list ds

In [ ]:
from numpy import array
data1_np=array(data)

In [ ]:
print("data created by list ds",data)
print("data created by numpy:",data1_np)

In [ ]:
#PROPERTIES OF 1D Array: .shape, .size, .dim, .dtype
print(data1_np.ndim)
print(data1_np.shape)
print(data1_np.size)
print(data1_np.dtype)

In [ ]:
#1D INDEXING
print(data1_np[0])
print(data1_np[-1])
print(data1_np[:])

In [ ]:
#create 2 Dim array using list data structure
data_2d_list=[[10,20],[30,40]] #nested list
print(data_2d_list)

In [ ]:
data_2d_np=array(data_2d_list)
print(data_2d_np)

In [ ]:
#properties of 2D ARRAY
print(data_2d_np.ndim)
print(data_2d_np.shape)
print(data_2d_np.size)
print(data_2d_np.dtype)

In [ ]:
#2D DATA ARRAY INDEXING
print(data_2d_np[0,0])
print(data_2d_np[0,1])
print(data_2d_np[1,0])
print(data_2d_np[1,1])

In [ ]:
print(data_2d_np[1,]) #display 1st row
print(data_2d_np[,2]) #to overcome drawback we go with slice operator

In [ ]:
print(data_2d_np[0:1,0:1])
print(data_2d_np[0:2,0:2])

In [ ]:
''''''

In [ ]:
# 2D slicing data uisng Numpy
from numpy import array
data=array([[11,22,33],
           [44,55,66],
           [77,88,99]])
#extract 11 from the above data
print(data[0:1,0:1]) #fefore , : indicates from which row to which row

In [ ]:
#extract 44 from the data
print(data[1:2,0:1])

In [ ]:
#extract 55 from the data
print(data[1:2,1:2])

In [ ]:
#extract 99 from the data
print(data[2:3,2:3]) #99 [2,2]

In [ ]:
#extract all the rows and columns from the data
print(data[0:3,0:3])

In [ ]:
#extract 2 row and all the elements to be
print(data[2:3,0:3]) #or data[2,:]

In [ ]:
#extract 2 column, all the rows elements
from numpy import vstack
vdata=data[:,2]
print(vstack(vdata))
print(data[0:3,2:3])

In [ ]:
#split dataset for supervised learning algorithm as train dataset and test data
#1st input features: split all the rows and all columns expect last column
#target column as all the rows and last column

In [ ]:
dataset=array([[1,2,3,8,9],
               [4,5,6,7,6],
               [7,8,9,1,2],
                [10,11,12,3,6],
                 [14,15,16,17,18]])
print(dataset[0:5,0:5])

In [ ]:
#1st input features: split all the rows and all columns expect last column
#method1
print("method1\n")
print(dataset[0:5,0:4])
#method2:
print("method2\n")
print(dataset[:,:-1])

In [ ]:
#target column as all the rows and last column
#traditional method
print("logic1:\n")
print(dataset[0:5,4:5])
#method2
print("logic2:\n")
print(dataset[:,-1])

In [ ]:
#split as TRAIN DATA SAMPLE AND TEST DATA SAMPLE
split=3

In [ ]:
#train data:split dataset as all the rows from the begining to the split point
#method1
print(dataset[0:split,:])
#method2

In [ ]:
#test data: all the rows starting from the split point to the end of the dimension.
print(dataset[split:5,:])

In [ ]:
#reshaping  array
data=array([1,2,3,4,5])
print(data.shape)

In [ ]:
#2D array
d2_data=array([[10,20,50],
               [30,40,60]])
print(d2_data.shape)
print(d2_data.shape[0])
print(d2_data.shape[1])

In [ ]:
#demo about reshape() method
dataset3=array([[1,2,3],
                [4,5,6],
                [7,8,9]]) #3x3 matrix

In [ ]:
#write a code to reshape dataset3 into 1 row and 9 columns using reshape method
dataset4_reshaped=dataset3.reshape(1,9)
print(dataset4_reshaped)
print(dataset3)

In [ ]:
print(dataset3.shape)
print(dataset4_reshaped.shape)

In [ ]:
#write a code to reshape dataset3 into 9 row and 1 columns using reshape method

# DATE: 24/12/2024
# TOPICS: NUMPY
    1. Limitation of array arithmetic
    2. array broad casting
    3. Broadcasting in numpy
    4. Limitations of broadcasting

In [ ]:
#limitation of arithmetic using array
from numpy import array
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

In [ ]:
#array broadcasting
x=array([1,2,3,4,5])
print(x)

In [ ]:
y=array([4,5,6,7,8])
print(y)

In [ ]:
#braodcast
res=x+y
print(res)

In [ ]:
#broadcast scalar to 1D Array
A=array([[1,2,3],
        [4,5,6],
        [8,8,9]])
print(A)
B=2
#broadcast
c=A*B
print(c)

In [ ]:
#limitation of broadcasting
g=array([[1,2,3],
         [4,5,6]])
h=array([1,2])
print(g.shape)
print(h.shape)
res=g+h
print(res)

In [ ]:
#note:braodcasting is possible only when shape of each dimension in the arrays are equal or one has dimension size is 1

# TOPICS:
  VECTOR ARITHMETIC
  VECTOR DOT PRODUCT
  VECTOR SCALAR MULTIPLICATION

## DATE: 04/01/2025
# TOPIC: PANDAS MODULE
    PART-1
    1. What is pandas series data structure
    2. what is data frame
    3. creating data frames
    4. loading CSV data files into data frame
    5. basic methods for investigating /viewing data frame.
    PART-2
    6. Column filtering
    7. row filtering
    8. filtering /slicing
    9. summarizing/aggregating data
    10. creating new calculated fields

In [ ]:
#import relevant libraries /modules to handle data
import pandas as pd
import numpy as np
import os

In [ ]:
#creating series data structure: one dimensional array
list1=["venkat","srini","manish","jyothi","lakshmi"]
s=pd.Series(list1)
print(list1)
print(s)

In [ ]:
#create series without usage of list data structure
s1=pd.Series(["venkat","DATA SCIENCE","Hyderabad"])
print("series data:\n",s1)

In [ ]:
#create series along with index in a customized way
s2=pd.Series(["DR.VENKAT","DSML","HYDERABAD"],index=["NAME OF THE TRAINER","TECHNOLOGY","LOCATION"])
print("Details about Trainer:\n",s2)

In [ ]:
#data frame is the set of series become data frame
#data frame is 2D data which means that its look like TABLE

In [ ]:
df1=pd.DataFrame(columns=["NAME","COURSE","LOCATION"])
print(df1)
df1.loc[0]=["DR.VENKAT","AIML","HYDERABAD"]
df1.loc[1]=["Mr. Tarun","AWS","HYDERABAD"]
df1.loc[2]=["Mrs.Sindhuja","FSJ","HYDERABAD"]
print("Details about Trainers:\n",df1)

In [ ]:
#create dataframe from a list of nested values
list2=[["SRINI","IOT","HYD"],["MANISH","EMBEDDED SYSTEM","HYD"]]
df2=pd.DataFrame(list2,columns=["NAME","COURSE","LOCATION"])
print(df2)

In [ ]:
#create a dataframe using numpy array with arange() and reshape()
a=np.arange(15).reshape(3,5)
print(a)
df3=pd.DataFrame(a,columns=["A","B","C","D","E"])
print(df3)

In [ ]:
#APPLY TRANSPOSE OF THE MATRIX
df2.T

In [ ]:
#IMPORT local machine data set into COLAB Notebook
import io
from google.colab import files
uploaded=files.upload()

In [ ]:
import pandas as pd
df5=pd.read_csv(io.BytesIO(uploaded['MarketingData.csv']))
print(df5)

In [ ]:
df5.head(7) #head() method is defult call top 5 records from the data frame

In [ ]:
#display bottom 5 records
df5.tail()

In [ ]:
#display no.of columns in a data frame
df5.shape[1]

In [ ]:
#display no.of samples in data frame
df5.shape[0]

In [ ]:
#display information about metadata about data frame
print(df5.info())

In [ ]:
#dispaly sammary of statistics
print(df5.describe())

In [ ]:
#display top 50 samples
df5.head(50)

In [ ]:
#display top 50 visitors column
df5.Visitors.head(50)

In [ ]:
#DISPLAY TOP 15 SAMPLES RELATED MARKETING SPEND
df5["Marketing Spend"].head(15)

In [ ]:
#DISPLAY TO 15 SAMPLES RELTED REVENUE GENERATED.?
df5["Revenue"].head(15)

In [ ]:
#display 3 columns data from visitors, revenue,marketing spend
df5[['Visitors','Revenue','Marketing Spend']].head(15)

In [ ]:
#find the sum of values in visitors column
print("sum of visitors:\n",df5.Visitors.sum())

In [ ]:
#find the sum of revenue in revenue column

In [ ]:
#find the sum of marketing spend

In [ ]:
#ROW FILTERING
#Display rows from 0 to 4
df5[0:5]

In [ ]:
#display row from 0 to 8
df5.loc[0:8]

In [ ]:
def head_cust(df):
  print(df[0:10])

In [ ]:
#call head_cust(df)

head_cust(df5)

In [ ]:
#write custom_tail() method
def custom_tail(df):
  print(df[-5:])

In [ ]:
#call the function custom_tail()
custom_tail(df5)

In [ ]:
#display samples when the day_name is Monday
print(df5[df5.Day_Name=="Monday"])

In [ ]:
#display samples from the DF5 where day_names are saturday and sunday
print(df5[(df5.Day_Name=="Saturday")|(df5.Day_Name=="Sunday")])

In [ ]:
#display the samples from the data frame Marketing spend >1000 and promo=="No promo"
print(df5[(df5["Marketing Spend"]>1000)&(df5.Promo=="No Promo")])

In [ ]:
#display the samples from the df5 where revenue is > 2000 and marketing spend is>1000
print(df5[(df5.Revenue>2000)&(df5["Marketing Spend"]>1000)])

In [ ]:
#display DF5 samples in sorted order with date column
print(df5.sort_values(by="Date",ascending=False).head(10))

# MATPLOTLIB MODULE
    USED TO VISUALIZATION
    GRAPHS
    --import matplotlib
    --show()
    --legend()
    --xlabel()
    --title()
    --ylabel()

In [ ]:
#display line graph age vs weight using matplotlib
import matplotlib.pyplot as plt
age=[20,21,19,22,23,25,30]
weight=[45,20,40,52,25,60,25]
plt.plot(age,weight)
plt.show()

In [ ]:
#use or apply xlabel and ylable and title for the above graph

In [ ]:
import matplotlib.pyplot as plt
age=[20,21,22,23,25,30]
weight=[45,46,47,52,55,60]
plt.plot(age,weight)
plt.xlabel("AGE OF THE PERSON")
plt.ylabel("Weight of the PERSON")
plt.title("AGE VS WEIGHT")
plt.show()

In [ ]:
#TO THE ABOVE SCENARIO ADDITIONALLY TAKE HEIGHT OF THE CANDIDATE AND DISPLAY X-AXIS IS AGE AND Y AND Z A AXIS ON Y LABEL
import matplotlib.pyplot as plt
age=[20,21,22,23,25,30]
weight=[45,46,47,52,55,60]
height=[150,155,160,165,170,175]
plt.plot(age,weight) #age vs weight
plt.plot(age,height)#age vs height
plt.xlabel("AGE OF THE PERSON")
plt.ylabel("Weight & Height of the PERSON")
plt.title("AGE VS WEIGHT vs HEIGHT")
plt.show()

In [ ]:
#add the legend to the above graph: legend is used to indicate which color is for what feature
#TO THE ABOVE SCENARIO ADDITIONALLY TAKE HEIGHT OF THE CANDIDATE AND DISPLAY X-AXIS IS AGE AND Y AND Z A AXIS ON Y LABEL
import matplotlib.pyplot as plt
age=[20,21,22,23,25,30]
weight=[45,46,47,52,55,60]
height=[150,155,160,165,170,175]
plt.plot(age,weight) #age vs weight
plt.plot(age,height)#age vs height
plt.xlabel("AGE OF THE PERSON")
plt.ylabel("Weight & Height of the PERSON")
plt.title("AGE VS WEIGHT vs HEIGHT")
plt.legend(["WEIGHT","HEIGHT"])
plt.show()

# COLOR AND FONTS AND PLOT REPRESENTATION

In [ ]:
#add the legend to the above graph: legend is used to indicate which color is for what feature
#TO THE ABOVE SCENARIO ADDITIONALLY TAKE HEIGHT OF THE CANDIDATE AND DISPLAY X-AXIS IS AGE AND Y AND Z A AXIS ON Y LABEL
import matplotlib.pyplot as plt
age=[20,21,22,23,25,30]
weight=[45,46,47,52,55,60]
height=[150,155,160,165,170,175]
plt.plot(age,weight,label='weight',color="m") #age vs weight
plt.plot(age,height,label="height",color="y")#age vs height
plt.xlabel("AGE OF THE PERSON")
plt.ylabel("Weight & Height of the PERSON")
plt.title("AGE VS WEIGHT vs HEIGHT")
plt.legend(["WEIGHT","HEIGHT"])
plt.show()

In [ ]:
#use markers to specify intersect point in the graph
#add the legend to the above graph: legend is used to indicate which color is for what feature
#TO THE ABOVE SCENARIO ADDITIONALLY TAKE HEIGHT OF THE CANDIDATE AND DISPLAY X-AXIS IS AGE AND Y AND Z A AXIS ON Y LABEL
import matplotlib.pyplot as plt
age=[20,21,22,23,25,30]
weight=[45,46,47,52,55,60]
height=[150,155,160,165,170,175]
plt.plot(age,weight,label='weight',color="m",marker='p') #age vs weight
plt.plot(age,height,label="height",color="y", marker='s')#age vs height
plt.xlabel("AGE OF THE PERSON")
plt.ylabel("Weight & Height of the PERSON")
plt.title("AGE VS WEIGHT vs HEIGHT")
plt.legend(["WEIGHT","HEIGHT"])
plt.show()

# LINE STYLE IN GRAPH

* linestyle =>{'-', '--', '-.', ':', '', (offset, on-off-seq), ...}
* linewidth =>float

In [ ]:
#use markers to specify intersect point in the graph
#add the legend to the above graph: legend is used to indicate which color is for what feature
#TO THE ABOVE SCENARIO ADDITIONALLY TAKE HEIGHT OF THE CANDIDATE AND DISPLAY X-AXIS IS AGE AND Y AND Z A AXIS ON Y LABEL
import matplotlib.pyplot as plt
age=[20,21,22,23,25,30]
weight=[45,46,47,52,55,60]
height=[150,155,160,165,170,175]
plt.plot(age,weight,label='weight',color="m",marker='p',linestyle="--") #age vs weight
plt.plot(age,height,label="height",color="y", marker='s',linestyle=":")#age vs height
plt.xlabel("AGE OF THE PERSON")
plt.ylabel("Weight & Height of the PERSON")
plt.title("AGE VS WEIGHT vs HEIGHT")
plt.legend(["WEIGHT","HEIGHT"])
plt.show()

In [ ]:
#line width in the graph
#use markers to specify intersect point in the graph
#add the legend to the above graph: legend is used to indicate which color is for what feature
#TO THE ABOVE SCENARIO ADDITIONALLY TAKE HEIGHT OF THE CANDIDATE AND DISPLAY X-AXIS IS AGE AND Y AND Z A AXIS ON Y LABEL
import matplotlib.pyplot as plt
age=[20,21,22,23,25,30]
weight=[45,46,47,52,55,60]
height=[150,155,160,165,170,175]
plt.plot(age,weight,label='weight',color="m",marker='p',linestyle="--",linewidth=2) #age vs weight
plt.plot(age,height,label="height",color="y", marker='s',linestyle=":",linewidth=2)#age vs height
plt.xlabel("AGE OF THE PERSON")
plt.ylabel("Weight & Height of the PERSON")
plt.title("AGE VS WEIGHT vs HEIGHT")
plt.legend(["WEIGHT","HEIGHT"])
plt.show()

In [ ]:
#use grid() function to make entrire graph as rows and columns
#use markers to specify intersect point in the graph
#add the legend to the above graph: legend is used to indicate which color is for what feature
#TO THE ABOVE SCENARIO ADDITIONALLY TAKE HEIGHT OF THE CANDIDATE AND DISPLAY X-AXIS IS AGE AND Y AND Z A AXIS ON Y LABEL
import matplotlib.pyplot as plt
age=[20,21,22,23,25,30]
weight=[45,46,47,52,55,60]
height=[150,155,160,165,170,175]
plt.plot(age,weight,label='weight',color="m",marker='p',linestyle="--") #age vs weight
plt.plot(age,height,label="height",color="y", marker='s',linestyle=":")#age vs height
plt.xlabel("AGE OF THE PERSON")
plt.ylabel("Weight & Height of the PERSON")
plt.title("AGE VS WEIGHT vs HEIGHT")
plt.legend(["WEIGHT","HEIGHT"])
plt.grid(linewidth=2,color='c',linestyle=':')
plt.show()

# PIE CHART:
    WHERE the slices will be ordered and plotted counter clock wise

In [ ]:
branches=["CSE","ECE","EEE","MECH","CIVIL","AIML","DSML","CYBER SECURITY","IOT"]
pass_percentages=[80,82,85,65,55,75,78,59,82]
plt.pie(pass_percentages,labels=branches,autopct='%1.1f%%')
#plt.legend()
plt.show()

In [ ]:
#sub plot concept
#builtin method: plt.subplot(nrows,ncolms,index)
from matplotlib import pyplot as plt
weight=[45,46,47,52,55,60]
height=[1.50,1.55,1.60,1.65,1.70,1.75]
plt.title("First Plot")
plt.subplot(1,2,1)
plt.plot(height,weight)
plt.xlabel("HEIGHT")
plt.ylabel("WEIGHT")
plt.title("HEIGHT VS WEIGHT")
plt.subplot(1,2,2)
plt.plot(weight,height)

In [ ]:
#demo about ggplot
from matplotlib import pyplot as plt
from matplotlib import style
style.use('ggplot')
x=[5,8,18]
y=[12,16,6]
x2=[6,9,10]
y2=[6,15,7]
plt.plot(x,y,'g',label='line one',linewidth=5)
plt.plot(x2,y2,'c',label='line two',linewidth=5)
plt.title("Line Plot")
plt.xlabel("X axis")
plt.ylabel("Y axis")
plt.legend()
plt.grid(True,color='r')
plt.show()

In [ ]:
#BAR GRAPH represnts data with two properties about any entities
#ax.bar(x,hight,width,bttom,align)
'''--here axes label is a region of the image with data space
--an axes object is added to figure by the add_axes() method

ax=fig_add_axes([left,right,width,height])'''

In [ ]:
from matplotlib import pyplot as plt
fig=plt.figure()
ax=fig.add_axes([0,0,0.5,0.8])
x_axis=["A","B","C","D"]
y_axis=[90,80,70,60]
ax.bar(x_axis,y_axis)
plt.show()

In [ ]:
#ex2:bar
#visualize GDP_RATE aS X_AXIS, country names as y_axis
from matplotlib import pyplot as plt, style
fig=plt.figure()
ax=fig.add_axes([0,0,0.2,0.2])
x=[200,190,187,145,160]
y=["IND","CHINA","USA","UK","PAK"]
ax.bar(x,y,color='c')
plt.show()

In [ ]:
#ex3: supply and demand

In [ ]:
#ex4: engineering branches and aggregate percentages
import matplotlib.pyplot as plt
Branches = ['CSE','ECE','EEE','MECH','CIVIL']
Agr_Percentages = [80,82,85,65,55]
plt.bar(Branches,Agr_Percentages,color=['red','green','blue','yellow','orange'])
plt.xlabel('BRANCHES')
plt.ylabel('AGGREGATE PERCENTAGES')
plt.title('BRANCHES VS AGGREGATE PERCENTAGES')
plt.show()

In [ ]:
#ex5: age and height
from matplotlib import pyplot as plt

fig = plt.figure()
ax = fig.add_axes([0, 0, 0.2, 0.2])

height = [200, 190, 187, 145, 160]
age = [10, 15, 20, 25, 30]
plt.xlabel('Age')
plt.ylabel('Height')

ax.bar(age, height, color='c')
plt.show()

In [ ]:
#method2: for above example
import matplotlib.pyplot as plt
# Create Data for age and height
age = [10, 20, 30, 40, 50]
height = [1.56, 1.64, 1.67, 1.55, 1.50]
plt.figure(figsize=(8, 5))
plt.bar(age, height, color='skyblue', label='Height (m)', alpha=0.6)
plt.plot(age, height, color='orange', marker='o', label='Height Trend')
plt.title("Age and Height")
plt.xlabel("Age (years)")
plt.ylabel("Height (meters)")
plt.legend()
plt.grid()
plt.show()

In [ ]:
#sales and profit
from matplotlib import pyplot as plt
fig=plt.figure()
ax=fig.add_axes([0,0,0.5,0.5])
sales=[80,70,60,50]
profit=[45,35,30,25]
ax.bar(sales,profit)
plt.show()

In [ ]:
#no.of hours studied and percentage marks obtain
from matplotlib import pyplot as plt
hours_studied=[3,4,5,6,7,8,10]
marks_obtained=[40,50,60,70,80,90,100]
fig=plt.figure()
ax=fig.add_axes([0,0,0.9,0.6])
plt.bar(hours_studied,marks_obtained,color=['red','green','blue','yellow','orange'])
plt.show()

In [ ]:
#ex: x_axes=days, y_axes=distance, label=BMW, label=audi
from matplotlib import pyplot as plt
days=[2,3,4,5,6,7,8]
distance=[100,200,300,400,500,600,700]
plt.bar(days,distance,label='BMW',color='r')
days=[2,3,4,5,6,7,8]
distance2=[80,70,60,90,50,78,80]
plt.bar(days,distance2,label='Audi',color="k")
plt.legend()
plt.xlabel('DAYS')
plt.ylabel('DISTANCE')
plt.title('DISTANCE VS DAYS')
plt.show()

# HISTOGRAM:
    used to understand the distribution of a continuous numerical variables
    --plot the age of the population with respectable bin
    --bin refers to the range of the values that are divided into series of intervals.
    --bins are usually created of the same size

In [ ]:
#ex:
from matplotlib import pyplot as plt
population_age=[22,55,62,45,46,47,48,49,50,21,22,34,42,42,4,99,102,110,120,121,122,130]
bins=[0,10,20,30,40,50,60,70,80,90,100,110,120,130]
plt.hist(population_age,bins,histtype='bar',rwidth=0.8)
plt.xlabel('AGE')
plt.ylabel('NUMBER OF PEOPLE')
plt.title('HISTOGRAM FOR THE POPULATION SURVEY')
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
np.random.seed(0)  # For reproducibility
heights = np.random.normal(loc=170, scale=10, size=1000)  # Heights in cm (mean=170, std=10)
temperatures = np.random.normal(loc=20, scale=5, size=1000)  # Temperatures in °C (mean=20, std=5)
fig, axs = plt.subplots(2, 1, figsize=(10, 10))
axs[0].hist(heights, bins=30, color='skyblue', edgecolor='black')
axs[0].set_title('Height Distribution')
axs[0].set_xlabel('Height (cm)')
axs[0].set_ylabel('Frequency')
axs[0].grid(axis='y')
axs[1].hist(temperatures, bins=30, color='salmon', edgecolor='black')
axs[1].set_title('Temperature Distribution')
axs[1].set_xlabel('Temperature (°C)')
axs[1].set_ylabel('Frequency')
axs[1].grid(axis='y')
plt.tight_layout()
plt.show()

In [ ]:
#ex: histogram for weight
from matplotlib import pyplot as plt
weight=[30,40,45,46,47,52,55,60]
bins=[25,35,45,55,65]
plt.hist(weight,bins,histtype='bar',rwidth=0.8)
plt.xlabel('WEIGHT')
plt.ylabel('NUMBER OF PEOPLE')
plt.title('HISTOGRAM FOR THE WEIGHT SURVEY')
plt.show()

In [ ]:
#ex: histogran for temparature

In [ ]:
#ex: histogram for color(numeric values)